# Ignore all __pycache__ directories everywhere
__pycache__/

# Ignore all .pyc files
*.pyc

# Ignore everything inside any results/ directory
# results/*

# But keep this specific file
!results/.gitkeep

# Ignore all .DS_Store files
.DS_Store

# Copilot instructions
.github/

# Not modify main.py or results_checker.py
main.py
results_checker.py
